nav {
  color: #303030;
  font-size: small;
  margin-bottom: 2.0rem;
  margin-left:-0.4rem;
}

nav a {
  color: #303030;
  text-decoration: underline;
  text-decoration-color:#808080;
  background-color: #E0E0E0;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.2rem;
}

.list-container {
  text-align: right;
}

.list-container a {
  text-decoration-color:#808080;
}

.list-title {
  color: #303030;

  font-size: small;
  background-color: #E0E0E0;

  display: inline;
  padding: 0.2rem 0.8rem;
  margin-right: 3.0rem;
  position: relative;
  bottom: 2.2rem;
  border: thin solid black;
}

.page_nav {
  color: #AAAAAA;
  padding-top: 2rem;
  text-align: center;
}

.page_nav a {
  color: #303030;
  text-decoration: underline;
  text-decoration-color:#808080;
  background-color: #E0E0E0;
  padding: 0.2rem 0.2rem;
  margin: 0.2rem 0.2rem;
}

@media screen and (max-width: 50rem) {
  .list-title {
    margin-right: 6vw;
  }
}

@media print{
  .list-title {
    margin-right: 21%;
  }
}
