html {
    /* scrollbar hack #1 */
    margin-left: calc(100vw - 100%);
    margin-right: 0;

    background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  max-width: 40em; /* 0.8 of 50 */

  color: #303030;
  font: 1em sans-serif;
  line-height: 1.5;
  font-weight: normal;

  margin: 2em auto;
  padding: 0 1em; /* +1em left and right makes 40 */
}

body img {
  display: block;
  max-width: 38em; /* 0.76 of 50 */
  margin: 0 auto;
  padding: 0.5em 0;
}

.imgcaption {
  max-width: 34em; /* 0.68 of 50 */
  margin: -0.5em auto 0.5em auto; /* relay img's 0.5em padding bottom*/
  font-size: small;
  text-align: center;
}

/* scrollbar hack #2 */
@media screen and (max-width: 50em) {
    html {
        background-color: #F5F5F5;
        margin: 0;
    }
    body {
        max-width: 80vw
    }
    body img {
        max-width: 76vw;
        margin: 0 auto;
    }
    .imgcaption {
      max-width: 68vw;
    }
}

@media print{
    html {
        background-color: #FF0000;
        margin: 0;
    }
    body {
        max-width: 80%;
        margin: 2em auto;
    }
    body img {
        max-width: 76%;
        margin: 0 auto;
    }
    .imgcaption {
      max-width: 68%;
    }
}

/* site specific visual style */

nav a {
  color: #303030;
  text-decoration: none;
}

.list-container {
    text-align: right;
}

.list-container a {
  color: #303030;
  text-decoration: none;
}

.list-title {
  margin-right: 1em;
  margin-bottom: -0.8em; /* negate img's 1.2em padding top */
  padding-top: 0.5em; /* move away from elem above */
}

.content-container a {
  color: #1060a0;
}

.page_nav {
    padding-top: 2em;
    text-align: center;
}

@media screen and (max-width: 50em) {
    .list-title {
        margin-right: 2vw;
    }
}
