html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  background-color: #F0F0EA;
}

body {
  max-width: 45rem; /* 0.9 of 50 */
  color: #303030;
  font: normal medium sans-serif;
  margin: 2rem auto;
  padding: 0 0 10rem 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.0;
}

p {
  line-height: 1.5;
}

p a {
  background-color: #E0E0E0;
  color: #1060a0;
}

li {
  line-height: 1.2;
  padding-bottom: 0.5rem;
}

img {
  display: block;
  max-width: 40rem; /* 0.8 of 50 */
  margin: 0 auto;
  padding: 0.5rem 0;
}

.imgcaption {
  max-width: 35rem; /* 0.7 of 50 */
  margin: -0.3rem auto 0.5rem auto; /* relay img's 0.5rem padding bottom*/
  font-size: small;
  text-align: center;
  line-height: 1.2;
  font-weight: normal;
}

code {
  font-family: monospace;
  color: #202020;
  background-color: #E0E0E0;
  padding: 0.2rem 0.5rem;
}

pre code {
  display: block;
  line-height: 1.5;
  padding: 1.0rem;
  overflow-x: scroll;
  white-space: pre;
}

.note {
  font-family: monospace;
  color: #202020;
  background-color: #F0E080;
  padding: 1rem;
}

select {
  font-size: large;
}

@media screen and (max-width: 50rem) {
  body {
    max-width: 90vw
  }
  img {
    max-width: 80vw;
    margin: 0 auto;
  }
  .imgcaption {
    max-width: 70vw;
  }
}

@media print{
  html {
    margin: 0;
  }
  body {
    max-width: 90%;
    margin: 2em auto;
  }
  img {
    max-width: 60%;
    margin: 0 auto;
  }
  .imgcaption {
    max-width: 50%;
  }
  pre code {
        overflow-x: hidden;
        white-space: pre-wrap;
    }
}