/* disable font boosting on mobile */
html * {
    max-height: 1000000px;
}

/* scrollbar hack #1 */
html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    background-color: #F0F0F0;
}

/* scrollbar hack #2 */
@media screen and (max-width: 640px) {
    html {
        margin-left: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

div {
    padding-top: 20px;
}

.nav-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: serif;
  font-size: 18px;
}

.nav-container a {
  color: #000000;
  text-decoration: none;
}

.list-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  color: black;
  font-family: serif;
  font-size: 18px;
}

.list-container a {
  color: #000000;
  text-decoration: none;
}

.content-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  color: black;
  font-family: serif;
  font-size: 18px;
  line-height: 1.5;
}

.content-container a {
  color: #1060a0;
}

.body-img {
  display: block;
  text-align: center;
}

.body-img img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

@media (max-width: 640px)
{
  .nav-container
  {
    font-size: 12px;
  }
  .list-container
  {
    font-size: 12px;
  }
  .content-container
  {
    font-size: 12px;
  }
}